nav{
  padding:10px;
}

nav a{
  color:red;
  margin:0 150px 0 150px;
  display:inline-block;
  padding: 10px 20px;
}
nav a:hover{
  background-color: blue;
  padding: 15px 60px;
  border-radius: 5px;
  transition: background-color 1s ease-out, transform 1s ease-out;
}


/* Challenge 7: Make the font for all elements Arial */
    *{
      font-family: Arial;
    }
/* Challenge 8: Remove the underline for all hyperlinks */
    href{
      text-decoration: none;
    }
/* Challenge 9: Change the bottom border of the hyperlinks in the <nav> element to 2px solid black when the visitor hovers over it */
    nav :hover{
      border-radius: 2px solid black;
    }
/* Challenge 10: Change the background color to blue and the text to white for elements with an class of "banner" */
    .banner {
      font-size: 60px;
      text-align: center;
      text-shadow: 2px 2px;
      color:darkturquoise

    }
/* Challenge 11: Make the font size bigger and the color of the text to blue for elements with a class of "main" */
    .main{
      font-size: large;
      color:blue;
    }
    p{
      align-items: center;
      color:green;
      font-size: 25px;
      
    }
.Gallery{
  background-color: black;
}